@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My dot net CRUD App</p>
    <a asp-controller="Category" asp-action="Index" class="btn btn-success w-30"><i class="fas fa-sign-out-alt"></i> Check Categories</a>
</div>
